<a href="https://colab.research.google.com/github/anjalijagwanidot1995/Assignmentrepository/blob/master/Day_1_sesson_2_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Write a program to print the triangle

In [ ]:
rows = int(input('Enter Number: '))
for row in range(1, rows):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

Enter Number: 4
1
2 1
3 2 1

2. Enter number 4

In [ ]:
rows = int(input('Enter Number: '))
for j in range(1, rows+1):
    print("* " * j)

Enter Number: 4
*
* *
* * *
* * * *

3 Enter number 5

In [ ]:
rows = int(input('Enter Number: '))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

Enter Number: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

4 Enter number 5

In [ ]:
rows = int(input('Enter Number: '))
Number = rows
for i in range(1, rows+1):
    Number = rows
    for j in range(i):
        print(Number, end=' ')
        Number -= 1
    print("\r")

Enter Number: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

6 Find the length of a string without using len functions

In [7]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Anjali Jagwani
Length of the input string is: 14

7 Find the no of words and characters in a string

In [8]:
str1 = input("Please Enter your String : ")
total = 0
 
for i in str1:
    total = total + 1
 
print("Total Number of Characters in this String = ", total)

Please Enter your String : Hello Every one
Total Number of Characters in this String =  15

8 Find the no of occurrences of a word in a string

In [9]:
string = "Hello Everyone"
substring = "e"
count = string.count(substring)
print("The count is:", count)

The count is: 3