<a href="https://colab.research.google.com/github/anjalijagwanidot1995/Assignmentrepository/blob/master/Day_2_sesson_1_Examples_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***print multiples of 3 upto 200 using a list***

In [ ]:
import numpy as np
x = np.arange(1, 200)
# find  multiple of 3
n= x[(x % 3 == 0)]
print(n[:1000])

[  3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54
  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99 102 105 108
 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162
 165 168 171 174 177 180 183 186 189 192 195 198]

***print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)***

In [ ]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

***Add the n number of names in a list and print them alphabetically and reverse alphabetically.***

In [ ]:
my_str = input("Enter a string: ")
words = my_str.split()
words.sort()
print("The sorted words are:")
for word in words:
   print(word)

Enter a string: Add the n number of names in a list and print them alphabetically and reverse alphabetically.
The sorted words are:
Add
a
alphabetically
alphabetically.
and
and
in
list
n
names
number
of
print
reverse
the
them

***Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list***

In [ ]:
import numpy as np
x = np.arange(501, 1000)
# find  multiple of 5
n= x[(x % 5 == 0)]
print(n[:1000])

[505 510 515 520 525 530 535 540 545 550 555 560 565 570 575 580 585 590
 595 600 605 610 615 620 625 630 635 640 645 650 655 660 665 670 675 680
 685 690 695 700 705 710 715 720 725 730 735 740 745 750 755 760 765 770
 775 780 785 790 795 800 805 810 815 820 825 830 835 840 845 850 855 860
 865 870 875 880 885 890 895 900 905 910 915 920 925 930 935 940 945 950
 955 960 965 970 975 980 985 990 995]

***Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it***

In [ ]:
def bigWords(list=[], *args):
    largestWord=""
    for word in list:       
        if len(largestWord)<len(word):
            largestWord= word
    print ("The longest word(s) in the list is %s." % (largestWord))
    return largestWord

def callFunctions():
###Words###
    words=["alpha","omega","up","down","over","under","purple","red","blue","green"]
    func_list2 = [bigWords]
    for f in func_list2:
        f(words)

callFunctions()

The longest word(s) in the list is purple.

***Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.***

In [3]:
students=[]
for num in range(5):
    x=input("Enter name of students: ")
    y=input("Enter marks of students:")
    students.append((x,y,))

report = input("Do you want to print class report?: ")
if report == 'yes':
    for x, y in students:
        print(x,":", y)

Enter name of students: anjali
Enter marks of students:50
Enter name of students: varsha
Enter marks of students:60
Enter name of students: pankaj
Enter marks of students:80
Enter name of students: mahima
Enter marks of students:30
Enter name of students: shailja
Enter marks of students:00
Do you want to print class report?: yes
anjali : 50
varsha : 60
pankaj : 80
mahima : 30
shailja : 00